**.vscode**
**build**
**node_modules**
**__pycache__**
**.py[cod]**
**__MACOSX**
**.zip**

# Object files
**.o**
**.ko**
**.obj**
**.elf**

# Executables
**.exe**
**.out**
**.app**

# ROS
**devel**
**logs**
**build**
**.catkin_tools**
**.catkin_workspace**
**simulator**
**cart_test**
**idk_description**
**good_ones**
